<h1>Login to Waste Not</h1>
<% if (messages.error) { %>
    <%= messages.error %>
<% } %>

<form id='loginForm'>
    <div>
        <label for="email">Email Address</label>
        <input type='email' id='emailLog' data-id='emailLog' name='emailLog' required>
    </div>
    <div>
        <label for="password">Password</label>
        <input type='password' id='passwordLog' data-id='passwordLog' name='passwordLog' required>
    </div>
    <button type="submit">Login</button>
</form>

<a href="/register">Register</a>
<script src="login-server.js"></script>